:root{
    --grid-cols: 1;
    --grid-rows: 1;
}
#grid { 
    display:flex;
    display: grid; 
    /* grid-gap:1em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    /* justify-content: center;
    align-items: center; */
    margin-left:450px;
    border:none;
    max-width: 960px;
}

div{
    display:flex;
    height:16px;
    width:16px;
    align-items: center;
    justify-content: center;
    border-style:solid;
    border-color:black;
    border:thin solid;
}

div.hover{
    background-color: black;
}
.slidecontainer{
    width:100%;
}
.slider{
    -webkit-appearance: none;
    appearance:none;
    width:100%;
    height:25px;
    background: #d3d3d3;
    outline: none;
    opacity:0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover{
    opacity:1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }