:root{
    --grid-cols: 1;
    --grid-rows: 1;
    --height: 16px;
    --width: 16px;
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
#grid { 
    display:flex;
    display: inline-grid; 
    /* grid-gap:1em; */
    grid-template-rows: repeat(var(--grid-rows), 2fr);
    grid-template-columns: repeat(var(--grid-cols), 2fr);
    /* justify-content: center;
    align-items: center; */
    /* margin-left:450px; */
    border:none;
    height: 575px;
    width: 575px;
    background-color:rgb(228, 228, 228);
    box-shadow:10px 10px 5px;
}

div{
    display:flex;
    height:var(--height);
    width:var(--width);
    border-style:solid; 
    border-color:black;
    border:thin solid;
    border: 1px solid black;
}

div.hover{
    background-color: black;
}
.slidecontainer{
    width:100%;
    border:none;
}
.slider{
    -webkit-appearance: none;
    appearance:none;
    border:none;
    width:30%;
    height:25px;
    background: #ffffff;
    outline: none;
    border-radius:16px;
    opacity:.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: 10px 10px 5px;
}
.slider:hover{
    opacity:1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    opacity:.8;
  }
  .slider::-webkit-slider-thumb:hover {
    opacity:1;
    
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }